.container {
    margin: auto;
}

body {
    background-color: #4863A0;
}

#login-btn {
    text-align: center;
}

h1 {
    color: white;
    font-family: "Century Gothic";
    margin-left: 40px;
    margin-top: 40px;
}

.form-signin-heading {
    padding-bottom: 100px;
    background-image: url(lci_logo.jpg);
    -webkit-background-size: 84px;
    background-size: 84px;
    background-position: center top;
    background-repeat: no-repeat;
}

.form-signin {
    max-width: 430px;
    padding: 25px;
    margin: 0 auto;
}

.form-signin-input {
    background-color: white;
    border: 1px solid white;
    padding: 10px;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.password-reset {
    float: right;
    color: grey;
}